@charset "utf-8";

/* ==================
	Reset
===================== */

	html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
		margin: 0;
		padding: 0;
		border: 0;
		font: inherit;
		vertical-align: baseline;
	}
	article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
		display: block;
	}
	body {
		min-height: 100%;
		position: relative;
		background-image: url(../images/background.jpg);
		/*-webkit-background-size: cover;
		     -o-background-size: cover;
		        background-size: cover;*/
		background-repeat: no-repeat;
		background-position: center top;
		background-color: #fff;
		font-family: 'Roboto', sans-serif;
		font-weight: 400;
		color: #222;
		font-size: 13px;
		line-height: 1.3;
		-webkit-text-size-adjust: none;
	}
	ol, ul {
		list-style: none;
	}
	blockquote, q {
		quotes: none;
	}
		blockquote:before, blockquote:after, q:before, q:after {
			content: '';
			content: none;
		}
	table {
		border-collapse: collapse;
		border-spacing: 0;
	}
	img {
		max-width: 100%;
		border: none;
	}
	a:hover , a:active , a:focus {
		text-decoration: none;
	}
	a:focus , input:focus , textarea:focus {
		outline: none;
	}
	html {
		height: 100%;
	}
	*, *:before, *:after {
		-moz-box-sizing: border-box;
		-webkit-box-sizing: border-box;
		box-sizing: border-box;
	}

@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,700&subset=cyrillic');

/* font-family: "GothamProBold"; */
@font-face {
    font-family: "GothamProBold";
    src: url("../fonts/GothamProBold/GothamProBold.eot");
    src: url("../fonts/GothamProBold/GothamProBold.eot?#iefix")format("embedded-opentype"),
    url("../fonts/GothamProBold/GothamProBold.woff") format("woff"),
    url("../fonts/GothamProBold/GothamProBold.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}

/* font-family: "GothamProMedium"; */
@font-face {
    font-family: "GothamProMedium";
    src: url("../fonts/GothamProMedium/GothamProMedium.eot");
    src: url("../fonts/GothamProMedium/GothamProMedium.eot?#iefix")format("embedded-opentype"),
    url("../fonts/GothamProMedium/GothamProMedium.woff") format("woff"),
    url("../fonts/GothamProMedium/GothamProMedium.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}

/* Header style */
$brand-color: #feb42f;

header , footer {
	text-align: center;
	padding-top: 60px;
	a {
		text-transform: uppercase;
		text-decoration: none;
		color: #FFF;
		-webkit-transition: all .3s ease;
		   -moz-transition: all .3s ease;
		    -ms-transition: all .3s ease;
		     -o-transition: all .3s ease;
		        transition: all .3s ease;
		&.active {
			color: $brand-color;
			border-bottom: 1px solid $brand-color;
		}
		&:hover {
			color: $brand-color;
		}
	}
}

	header {
		overflow: hidden;
	}

	.wrap {
		max-width: 1800px;
		margin: 0 auto;
		padding: 0 10px;
		position: relative;
	}

		.logo {
			margin-top: -30px;
			position: relative;
			left: 30px;
			float: left;
		}

		.nav {
			display: inline-block;
			text-align: center;
			li {
				margin: 0 30px;
				display: inline-block;
				vertical-align: top;
			}
			a {
				letter-spacing: 1px;
			}
		}

		.nav__btn {
			display: none;
			position: absolute;
			right: 10px;
			top: -5px;
		}

		.lang {
			margin-right: 30px;
			float: right;
			a {
				display: inline-block;
				vertical-align: top;
				font-weight: 700;
				&:last-child {
					margin-left: 20px;
				}
			}
		}

/* Intro style */

.intro {
	padding-top: 40px;
}

	.intro__desc {
		padding-top: 140px;
		padding-bottom: 30px;
		padding-right: 30px;
			span {
				display: inline-block;
				vertical-align: middle;
				text-align: center;
				background-image: url(../images/label.png);
				background-repeat: no-repeat;
				background-position: 0 9px;
				width: 309px;
				height: 59px;
				&.en {
					max-width: 309px;
					width: auto;
					padding: 0 25px;
					background-position: 0 1px;
					-webkit-background-size: cover;
					     -o-background-size: cover;
					        background-size: cover;
				}
			}
	}

	h1 {
		font-family: "GothamProBold";
		font-size: 43px;
		line-height: 55px;
		color: #FFF;
	}

	.btn {
		height: 60px;
		line-height: 60px;
		color: #fff;
		font-size: 13px;
		text-transform: uppercase;
		margin: 30px 0;
		padding: 0 35px;
		font-weight: 700;
		text-decoration: none;
		display: inline-block;
		vertical-align: top;
		background: #f2783a;
	    background: -webkit-linear-gradient(left, #f2783a 0%, #ee4d5c 100%);
	    background: linear-gradient(to right, #f2783a 0%, #ee4d5c 100%);
		-webkit-border-radius: 40px;
		        border-radius: 40px;
		-webkit-transition: all .3s ease;
		   -moz-transition: all .3s ease;
		    -ms-transition: all .3s ease;
		     -o-transition: all .3s ease;
		        transition: all .3s ease;
		&:hover {
			background: #f2783a;
		    background: -webkit-linear-gradient(right, #f2783a 0%, #ee4d5c 100%);
		    background: linear-gradient(to left, #f2783a 0%, #ee4d5c 100%);
		}
	}

	.intro__slider {
    	margin-left: 10px;
	}

/* Why section style */	

.why {
	padding-top: 130px;
	padding-bottom: 85px;
	position: relative;
	z-index: 2;
}

	h2 {
		text-align: center;
		font-family: "GothamProMedium";
		font-size: 43px;
		line-height: 55px;
		padding: 50px 0;
		position: relative;
		span {
			font-size: 26px;
			display: block;
		}
		&.white {
			color: #FFF;
		}
	}

	.with-line:after {
		content: "";
		position: absolute;
		width: 80px;
		height: 2px;
		top: 0;
		left: 50%;
		margin-left: -40px;
		background: #f2783a;
		background: -webkit-linear-gradient(left, #f2783a 0%, #ee4d5c 100%);
		background: linear-gradient(to right, #f2783a 0%, #ee4d5c 100%);
	}

	.why__item {
		text-align: center;
		padding: 50px 20px;
		font-size: 20px;
		color: #A68BDA;
		line-height: 30px;
		font-weight: 300;
		.why__icon {
			height: 71px;
			line-height: 71px;
		}
		p {
			margin: 0 0 10px 0;
		}
	}

	.arrow__down {
		position: absolute;
    	bottom: -80px;
    	left: 50%;
    	display: block;
    	width: 131px;
    	height: 131px;
    	margin-left: -65px;
	    color: #fff;
	    background-image: url(../images/arrow_down.png);
	    background-repeat: no-repeat;
	}

/* How work style */

.how__work {
	padding-top: 80px;
	padding-bottom: 110px;
	background-color: #FFF;
	position: relative;
	z-index: 1;
}

	.wrap__work {
		background-image: url(../images/how-scheme.png);
		background-repeat: no-repeat;
		background-position: right 13%;
			&.en {
				background-image: url(../images/how-scheme-en.png);
			}
	}

	.flex__container {
		display: -webkit-flex; /* Safari */
		display: flex;
		-webkit-flex-direction: row;
		    -ms-flex-direction: row;
		        flex-direction: row;
		-webkit-justify-content: center;
			justify-content: center;
		-webkit-align-items: center;
		        align-items: center;
		&.reverse {
			-webkit-flex-direction: row-reverse;
			    -ms-flex-direction: row-reverse;
			        flex-direction: row-reverse;
		    .how__item:last-child {
		    	-webkit-transform: translate(-30px , 0);
		    	   -moz-transform: translate(-30px , 0);
		    	    -ms-transform: translate(-30px , 0);
		    	     -o-transform: translate(-30px , 0);
		    	        transform: translate(-30px , 0);
		    }
		}
	}

	.how__item {
		width: 220px;
		margin: 0 50px 10px 50px;
		text-align: center;
		p {
			margin: 0;
			font-size: 20px;
			font-weight: 300;
		}
	}

		.how__icon {
			margin: 30px 0 50px 0;
		}

/* Style about us */

.about__us {
	padding-top: 70px;
	padding-bottom: 75px;
	background-image: url(../images/background-about-us.jpg);
	-webkit-background-size: cover;
	     -o-background-size: cover;
	        background-size: cover;
	background-repeat: no-repeat;
	background-position: center top;
	position: relative;
}

	.about__description {
		max-width: 800px;
		margin: 0 auto;
		padding: 0 15px;
		font-size: 20px;
		font-weight: 300;
		line-height: 30px;
		text-align: center;
		color: #FFF;
		p {
			margin: 20px 0;
		}
	}

	.about__item {
		text-align: center;
		margin: 60px 0;
		.about__icon {
			width: 265px;
			height: 114px;
			display: table-cell;
    		vertical-align: middle;
    		
		}
		.about__title {
			font-family: "GothamProMedium";
			margin: 13px 0 5px 0;
			font-size: 20px;
			text-transform: uppercase;
			color: #fff;
		}
		p:last-child {
			margin: 0;
			font-weight: 300;
			font-size: 18px;
			color: #A68BDA;
			line-height: 30px;
		}
	}

	.team__slider {
		position: relative;
		padding: 80px 50px 30px 50px;
	}

	.team__item {
		text-align: center;
		font-size: 15px;
		color: #A68BDA;
		font-weight: 300;
		.team__image {
			max-width: 220px;
			margin-left: auto;
			margin-right: auto;
			margin-bottom: 30px;
			overflow: hidden;
			-webkit-border-radius: 50%;
			        border-radius: 50%;
		}
		h3 {
			padding: 0 25%;
			font-family: "GothamProMedium";
			font-size: 20px;
			color: #FFF;
			margin-bottom: 10px;
		}
	}

/* Style team section */

.team {
	padding-top: 80px;
	padding-bottom: 80px;
	text-align: center;
}

	.team__photo {
		margin: 30px 0 100px 0;
	}

	.contact__info {
		display: inline-block;
		vertical-align: top;
		color: #ee505a;
		font-size: 20px;
		font-weight: 300;
		background-repeat: no-repeat;
		padding-left: 61px;
		height: 48px;
		line-height: 48px;
			&.skype {
				background-image: url(../images/skype.png);
			}
			&.email {
				background-image: url(../images/email.png);
				background-position: left center;
			}
	}

	.contact__data {
		margin: 0;
		font-size: 30px;
	}

/* Footer */

footer {
	padding: 30px 0;
	background-image: url(../images/figure.png);
	background-position: 19% 25%;
	background-repeat: no-repeat;
	background-color: #281a4b;
	.logo {
		margin-top: -40px;
	}
}

	.scroll__top {
		display: inline-block;
		vertical-align: top;
		float: right;
		width: 40px;
		height: 40px;
		margin-top: -10px;
		background-image: url(../images/scroll-top.png);
		background-repeat: no-repeat;
	}


/* Responsive style */

@media screen and (max-width: 1280px) {

	.intro {
		h1 {
			font-size: 28px;
    		line-height: 48px;
    	}
		.col-md-8 {
			padding-left: 170px;
		}
	}
	
	.intro__slider {
		max-width: 220px;
	}

}

@media screen and (max-width: 1024px) {

	.nav li {
	    margin: 0 10px;
	}

	.wrap__work {
		-webkit-background-size: 73%;
		     -o-background-size: 73%;
		        background-size: 73%;
    	background-position: right 15%;
	}

	.contact__data {
		font-size: 25px;
	}

}

@media screen and (max-width: 992px) {

	h1 , h2 {
		font-size: 24px;
		line-height: 35px;
	}

	.intro {
		.col-md-8 {
			padding-left: 15px;
		}
	}
	
	.intro__slider {
		max-width: 100%;
	}

	.intro__desc span {
		background-size: 100%;
    	background-position: 0 9px;
    	width: auto;
    	height: auto;
    	padding: 3px 20px;
	}

	.why__item {
		padding: 50px 0;
		font-size: 18px;
	}

	.wrap__work , .wrap__work.en {
		background-image: none;
	}

	.about__description {
		font-size: 17px;
	}

	.contact__data {
	    font-size: 18px;
	}

	h2 span {
    	font-size: 16px;
    }

}

@media screen and (max-width: 768px) {

	.logo {
		left: 0;
	}
	
	.hidden {
		display: none;
	}

	header {
		padding-top: 40px;
	}

	.nav {
		display: none;
		position: fixed;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		background-color: rgba(0, 0, 0, .9);
		text-align: center;
		padding-top: 25%;
		z-index: 9;
			li {
				display: block;
				margin: 25px 0;
			}
	}

	.nav__btn {
		display: block;
	}

	.lang {
		margin: 0;
		float: none;
	}

	.intro {
		text-align: center;
	}

		.intro__desc {
			padding-top: 40px;
			padding-right: 0;
		}

	.why__item {
		padding: 20px 0;
	}

	.flex__container {
		display: block;
		.how__item {
			width: 100%;
			margin: 10px 0;
		}
		&.reverse .how__item:last-child {
    		transform: translate(0,0);
		}
	}

	.about__description {
		max-width: 100%;
		padding: 0;
	}

	.about__item {
		margin: 20px 0;
		.about__icon {
			display: block;
			width: 100%;
			height: auto;
		}
	}

	.contact__info {
		margin-top: 20px;
	}

}

@media screen and (max-width: 480px) {
	
	.intro__desc {
		padding-top: 30px;
	}

	h1 , h2 {
		font-size: 22px;
	}

}